<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Shopping Portal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Apple Laptop</ion-card-subtitle>
        <ion-card-title>AMZ Version</ion-card-title>
      </ion-card-header>

      <ion-card-content>

      </ion-card-content>
    </ion-card>
  </div>
      <p><strong>{{text}}</strong></p>
      <ion-button (click)="onChangeText()">Change Name</ion-button>
  <div>

  </div>
</ion-content>
